* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 2px dashed #E32002;
}

/* Dropdown MUI Component Autocomplete*/
div[role="presentation"].MuiAutocomplete-popper {
  z-index: 1000000;
}
